$SYNE: var(--FONT-SYNE);
$OPEN-SANS: var(--FONT-OPEN-SANS);
$MAJOR-MONO: var(--FONT-MAJOR-MONO);

$HEADING-XS: 2rem;
$HEADING-S: 2.4rem;
$HEADING-R: 3.2rem;
$HEADING-L: 4.8rem;
$HEADING-XL: 6.4rem;

$BODY-XS: 0.7rem;
$BODY-S: 0.8rem;
$BODY-R: 1rem;
$BODY-L: 1.2rem;
$BODY-XL: 1.6rem;

$WEIGHT-LIGHT: 300;
$WEIGHT-REGULAR: 400;
$WEIGHT-SEMIBOLD: 600;
$WEIGHT-BOLD: 800;
