@use '../../../styles/modules/radius.module.scss' as *;
@use '../../../styles/modules/color/color.module.scss' as *;
@use '../../../styles/modules/breakpoint.module.scss' as *;
@use '../../../styles/modules/shadow.module.scss' as *;

.mobile-navigation-list {
	& {
		display: none;
		margin: 0;
		padding: 0;
		transition: top 150ms;
		border-bottom: 1px solid var(--BORDER-SECONDARY);
	}

	&::before {
		content: '';
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		background-color: transparent;
		transition: background-color 150ms;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
		transform: scaleY(2);
	}

	@include screen-breakpoint(mobile, tablet) {
		& {
			@include shadow-black;
			display: flex;
			flex-direction: column;
			position: absolute;
			width: 100%;
			border-radius: 0 0 $RADIUS-13 $RADIUS-13;
			background-color: var(--BG-PRIMARY);
		}

		li:last-child {
			a {
				border-radius: 0 0 13px 13px;
			}
		}
	}

	/*
		States
	*/
	&.open {
		top: 100%;

		&::before {
			height: 100dvh;
			background-color: $BLACK-50;
		}
	}
	&.closed {
		top: -200%;
	}
}
