@use '../../../styles/modules.scss' as *;

.mobile-navigation-list {
	& {
		display: none;
		margin: 0;
		padding: 0;
		transition: top 150ms;
	}

	&::before {
		content: '';
		display: flex;
		position: absolute;
		background-color: transparent;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: -1;
		transition: background-color 150ms;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
	}

	@include screen-breakpoint(mobile, tablet) {
		& {
			display: flex;
			position: absolute;
			flex-direction: column;
			width: 100%;
			background-color: black;
			box-shadow: 0px 10px 25px 5px #00000040;
			border-radius: 0 0 get-radius-value(radius-13) get-radius-value(radius-13);
		}

		li:last-child {
			a {
				border-radius: 0 0 13px 13px;
			}
		}
	}

	/*
		States
	*/
	&.open {
		top: 100%;

		&::before {
			height: 100dvh;
			background-color: get-color-value(black-000000-50);
		}
	}
	&.closed {
		top: -200%;
	}
}
