@use '../../styles/modules/breakpoint.module.scss' as *;

.project-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	width: 100%;
	padding: 0px;
	margin: 0px;
	@include screen-breakpoint(mobile, tablet, small, large) {
		grid-template-columns: 1fr;
	}
}
