@use '../colors/variables' as *;
@use 'variables' as *;


/*
	Border mixins
*/
@mixin base-border-color {
	border-top-color: $white-ffffff-5;
	border-bottom-color: $white-ffffff-15;
	border-left-color: $white-ffffff-5;
	border-right-color: $white-ffffff-5;
}
@mixin base-border {
	@include base-border-color;
	border-width: 1px;
	border-style: solid;
	border-radius: $radius-13;
}

/*
	Media queries mixins
*/
@mixin screen-breakpoint($keys...) {
	@each $key in $keys {
		@media only screen and (min-width: map-get($SCREEN-BREAKPOINTS, $key, 'min')) and (max-width: map-get($SCREEN-BREAKPOINTS, $key, 'max')) {
			@content;
		}
	}
}
