$SCREEN-BREAKPOINTS: (
	mobile: (
		min: 1px,
		max: 320px,
	),
	tablet: (
		min: 321px,
		max: 768px,
	),
	small: (
		min: 769px,
		max: 1024px,
	),
	large: (
		min: 1025px,
		max: 1136px,
	),
	extra-large: (
		min: 1137px,
		max: 1920px,
	),
	ultra-wide: (
		min: 1921px,
		max: 99999px,
	),
);

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1136,24,1.25,2,2,768-1024&s=0.75|0.5|0.25,1.5|2|3|4|5|6|8|10|11|12,s-xl|s-2xl|s-3xl|s-4xl|s-5xl&g=s,l,xl,12 */
$RESPONSIVE-SPACING-SIZES: (
	default: (
		// Space 3xs: 4px → 6px
		spacing-3xs: clamp(0.25rem, 0.201rem + 0.2451vw, 0.375rem),
		// Space 2xs: 8px → 12px
		spacing-2xs: clamp(0.5rem, 0.402rem + 0.4902vw, 0.75rem),
		// Space xs: 12px → 18px
		spacing-xs: clamp(0.75rem, 0.6029rem + 0.7353vw, 1.125rem),
		// Space s: 16px → 24px
		spacing-s: clamp(1rem, 0.8039rem + 0.9804vw, 1.5rem),
		// Space m: 24px → 36px
		spacing-m: clamp(1.5rem, 1.2059rem + 1.4706vw, 2.25rem),
		// Space l: 32px → 48px
		spacing-l: clamp(2rem, 1.6078rem + 1.9608vw, 3rem),
		// Space xl: 48px → 72px
		spacing-xl: clamp(3rem, 2.4118rem + 2.9412vw, 4.5rem),
		// Space 2xl: 64px → 96px
		spacing-2xl: clamp(4rem, 3.2157rem + 3.9216vw, 6rem),
		// Space 3xl: 80px → 120px
		spacing-3xl: clamp(5rem, 4.0196rem + 4.902vw, 7.5rem),
		// Space 4xl: 96px → 144px
		spacing-4xl: clamp(6rem, 4.8235rem + 5.8824vw, 9rem),
	),
	one-up-pairs: (
		// Space 3xs-2xs: 4px → 12px
		spacing-3xs-2xs: clamp(0.25rem, 0.0539rem + 0.9804vw, 0.75rem),
		// Space 2xs-xs: 8px → 18px
		spacing-2xs-xs: clamp(0.5rem, 0.2549rem + 1.2255vw, 1.125rem),
		// Space xs-s: 12px → 24px
		spacing-xs-s: clamp(0.75rem, 0.4559rem + 1.4706vw, 1.5rem),
		// Space s-m: 16px → 36px
		spacing-s-m: clamp(1rem, 0.5098rem + 2.451vw, 2.25rem),
		// Space m-l: 24px → 48px
		spacing-m-l: clamp(1.5rem, 0.9118rem + 2.9412vw, 3rem),
		// Space l-xl: 32px → 72px
		spacing-l-xl: clamp(2rem, 1.0196rem + 4.902vw, 4.5rem),
		// Space xl-2xl: 48px → 96px
		spacing-xl-2xl: clamp(3rem, 1.8235rem + 5.8824vw, 6rem),
		// Space 2xl-3xl: 64px → 120px
		spacing-2xl-3xl: clamp(4rem, 2.6275rem + 6.8627vw, 7.5rem),
		// Space 3xl-4xl: 80px → 144px
		spacing-3xl-4xl: clamp(5rem, 3.4314rem + 7.8431vw, 9rem),
	),
	custom-pairs: (
		// Space s-xl: 16px → 72px
		spacing-s-xl: clamp(1rem, -0.3725rem + 6.8627vw, 4.5rem),
		// Space s-2xl: 16px → 96px
		spacing-s-2xl: clamp(1rem, -0.9608rem + 9.8039vw, 6rem),
		// Space s-3xl: 16px → 120px
		spacing-s-3xl: clamp(1rem, -1.549rem + 12.7451vw, 7.5rem),
		// Space s-4xl: 16px → 144px
		spacing-s-4xl: clamp(1rem, -2.1373rem + 15.6863vw, 9rem),
		// Space s-5xl: 16px → 192px
		spacing-s-5xl: clamp(1rem, -3.3137rem + 21.5686vw, 12rem),
		// Space xl-5xl: 48px → 192px
		spacing-xl-5xl: clamp(3rem, -0.5294rem + 17.6471vw, 12rem),
		// Space 3xl-6xl: 80px → 240px
		spacing-3xl-6xl: clamp(5rem, 1.0784rem + 19.6078vw, 15rem),
	),
);

$SPACING-SIZE: (
	// spacing-2: 0.125rem,
	spacing-4: 0.25rem,
	spacing-8: 0.5rem,
	spacing-12: 0.75rem,
	spacing-16: 1rem,
	spacing-24: 1.5rem,
	spacing-32: 2rem,
	spacing-48: 3rem,
	spacing-64: 4rem,
	spacing-96: 6rem,
	spacing-128: 8rem
);

$RADIUS-SIZE: (
	radius-3: 3px,
	radius-5: 5px,
	radius-7: 7px,
	radius-9: 9px,
	radius-13: 13px,
);

$SHADOW-SIZE: (
	shadow-black-8: 0px 4px 8px rgba(0, 0, 0, 0.15),
);
