$SCREEN-BREAKPOINTS: (
	mobile: (
		min: 320px,
		max: 481px,
	),
	tablet: (
		min: 481px,
		max: 769px,
	),
	small: (
		min: 769px,
		max: 1025px,
	),
	large: (
		min: 1025px,
		max: 1201px,
	),
	extra-large: (
		min: 1201px,
		max: 99999px,
	),
);

$SPACING-SIZE: (
	spacing-2: 2px,
	spacing-4: 4px,
	spacing-8: 8px,
	spacing-16: 16px,
	spacing-24: 24px,
	spacing-32: 32px,
	spacing-40: 40px,
	spacing-48: 48px,
	spacing-64: 64px,
	spacing-96: 96px,
	spacing-128: 128px,
);

$RADIUS-SIZE: (
	radius-3: 3px,
	radius-5: 5px,
	radius-7: 7px,
	radius-9: 9px,
	radius-13: 13px,
);

$SHADOW-SIZE: (
	shadow-black-8: 0px 4px 8px rgba(0, 0, 0, 0.15),
);
