@use '../../styles/modules.scss' as *;

.banner-art {
	& {
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: rgb(2, 0, 36);
	}

	.gradient {
		width: 100%;
		height: 100%;
		background: linear-gradient(
			45deg,
			rgba(2, 0, 36, 0) 0%,
			rgb(68, 4, 170) 28%,
			rgb(39, 60, 255) 32%,
			rgb(11, 68, 255) 33.4%,
			rgb(52, 133, 255) 34%,
			rgb(111, 21, 255) 65%,
			rgb(126, 70, 255) 66%,
			rgb(0, 19, 185) 67.5%,
			rgba(0, 0, 0, 0) 100%
		);
		transform: scaleY(5);
	}
}
