@use '../../../styles/modules.scss' as *;

.timeline-item {
	& {
		display: flex;
		gap: 1rem;

		&:first-child {
			.left-separator {
				&::after {
					content: '';
					transform: translateX(50%);
					border-image: linear-gradient(
							to top,
							get-color-value(white-ffffff-50) 85%,
							get-color-value(white-ffffff-50) 5%,
							get-color-value(transparent-ffffff)
						)
						1 / 5px;
				}
			}
		}
		&:last-child {
			.left-separator {
				&::after {
					content: '';
					transform: translateX(50%);
					border-image: linear-gradient(
							to bottom,
							get-color-value(white-ffffff-50) 85%,
							get-color-value(white-ffffff-50) 5%,
							get-color-value(transparent-ffffff)
						)
						1 / 5px;
				}
			}
		}
	}

	.left-separator {
		& {
			display: flex;
			justify-content: flex-end;
			width: 12.76595745%;

			@include screen-breakpoint(small) {
				width: 17.5%;
			}
			@include screen-breakpoint(tablet) {
				width: 25%;
			}
			@include screen-breakpoint(mobile) {
				width: 32.5%;
			}
		}

		&::after {
			content: '';
			transform: translateX(50%);
			border: 1px solid;
		}
	}

	.information-container {
		& {
			display: flex;
			margin: 2rem 0 2rem 0;
			flex-direction: column;
			position: relative;
			gap: 1rem;
			width: 87.23404255%;

			@include screen-breakpoint(small) {
				width: 82.5%;
			}
			@include screen-breakpoint(tablet) {
				width: 75%;
			}
			@include screen-breakpoint(mobile) {
				width: 67.5%;
			}
		}

		.item-heading {
			& {
				position: relative;
				display: flex;
				align-items: center;
			}

			.date {
				position: absolute;
				width: 5rem;
				text-align: center;
				color: get-color-value(white-ffffff-50);
				left: -7rem;

				@include screen-breakpoint(tablet) {
					left: -6.75rem;
				}
				@include screen-breakpoint(mobile) {
					left: -6.5rem;
				}
			}

			.title {
				&::before {
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					top: 50%;
					left: -1.6rem;
					transform: translateY(-50%);
					border-radius: 50%;
					background-color: get-color-value(white-ffffff);
				}
			}
		}

		.subitem-container {
			& {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: 1rem;
			}
		}
	}
}
