@use '../../../styles/modules.scss' as *;

.timeline-item {
	& {
		display: flex;
		gap: get-spacing-value(spacing-16);
	}

	.left-separator {
		& {
			display: flex;
			justify-content: flex-end;
			width: 20%;

			@include screen-breakpoint(tablet) {
				width: 25%;
			}
			@include screen-breakpoint(mobile) {
				width: 30%;
			}
		}

		&::after {
			content: '';
			transform: translateX(50%);
			border: 1px solid white;
		}
	}

	.information-container {
		& {
			display: flex;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
			flex-direction: column;
			position: relative;
			gap: get-spacing-value(spacing-16);
			width: 80%;

			@include screen-breakpoint(tablet) {
				width: 75%;
			}
			@include screen-breakpoint(mobile) {
				width: 70%;
			}
		}

		.item-heading {
			& {
				position: relative;
				display: flex;
				align-items: center;
			}

			.date {
				position: absolute;
				width: 7.5rem;
				text-align: center;
				word-break: keep-all;
				left: -9rem;

				@include screen-breakpoint(mobile, tablet) {
					left: -8.25rem;
				}
			}

			.title {
				&::before {
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					top: 50%;
					left: -1.65rem;
					transform: translateY(-50%);
					border-radius: 50%;
					background-color: white;
				}
			}
		}

		.subitem-container {
			& {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: get-spacing-value(spacing-16);
			}
		}
	}
}
