@use '../../styles/modules.scss' as *;

.button {
	& {
		display: flex;
		justify-items: center;
		background-color: get-color-value(white-ffffff-5);
		text-transform: uppercase;
		padding: 0px;
		border: 0px;
		user-select: none;
		fill: get-color-value(white-ffffff);
		color: get-color-value(white-ffffff);
		border-width: 1px;
		border-style: solid;
		border-color: get-color-value(white-ffffff-5)
			get-color-value(white-ffffff-5) get-color-value(white-ffffff-15)
			get-color-value(white-ffffff-5);
	}

	/*
		Sizes
	*/
	&.extra-large {
		@include interface-xl;
		border-radius: get-radius-value(radius-13);
		gap: 2rem;
		padding: 1rem 1.5rem;
	}
	&.large {
		@include interface-l;
		border-radius: get-radius-value(radius-13);
		gap: 1.5rem;
		padding: 1rem 1.5rem;
	}
	&.regular {
		@include interface-r;
		border-radius: get-radius-value(radius-9);
		gap: 1rem;
		padding: 0.5rem 1.5rem;
	}
	&.small {
		@include interface-s;
		border-radius: get-radius-value(radius-7);
		gap: 1rem;
		padding: 0.5rem 1.5rem;
	}
	&.extra-small {
		@include interface-xs;
		border-radius: get-radius-value(radius-7);
		gap: 1rem;
		padding: 0.5rem 1.5rem;
	}

	/*
		Variants
	*/
	&.flat {
		& {
			background-color: transparent;
			border-width: 1px;
			border-style: solid;
			border-color: get-color-value(transparent-ffffff);
		}

		/*
			"Flat" variant custom states
		*/
		@media (hover: hover) {
			&:hover {
				transition: background-color 150ms;
				transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
				background-color: get-color-value(white-ffffff-15);

				border-width: 1px;
				border-style: solid;
				border-color: get-color-value(white-ffffff-5)
					get-color-value(white-ffffff-5) get-color-value(white-ffffff-15)
					get-color-value(white-ffffff-5);
			}
		}
		&:active {
			background-color: rgb(0, 153, 255);
		}
	}

	/*
		States
	*/
	@media (hover: hover) {
		&:hover {
			transition: background-color 150ms;
			transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
			background-color: get-color-value(white-ffffff-15);
		}
	}
	&:active {
		background-color: rgb(0, 153, 255);
	}
	&:disabled {
		.icon {
			fill: get-component-color-value(disabled);
		}
		color: get-component-color-value(disabled);
		text-decoration: none;
		pointer-events: none;
	}
}
