@use '../../styles/modules/colors.module.scss' as *;
@use '../../styles/modules/border.module.scss' as *;
@use '../../styles/modules/typography/typography.module.scss' as *;
@use '../../styles/modules/radius.module.scss' as *;

.button {
	& {
		@include base-border;
		display: flex;
		justify-items: center;
		align-items: center;
		text-transform: uppercase;
		user-select: none;
		padding: 0px;
		background-color: $BG-DEFAULT;
		color: $TEXT-DEFAULT;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
		transition: background-color 150ms, color 150ms;
	}

	/*
		Sizes
	*/
	&.extra-large {
		@include interface-xl;
		gap: 2rem;
		padding: 1rem 1.5rem;
		border-radius: $RADIUS-13;
	}
	&.large {
		@include interface-l;
		gap: 1.5rem;
		padding: 1rem 1.5rem;
		border-radius: $RADIUS-13;
	}
	&.regular {
		@include interface-r;
		gap: 1rem;
		padding: 0.5rem 1.5rem;
		border-radius: $RADIUS-9;
	}
	&.small {
		@include interface-s;
		gap: 1rem;
		padding: 0.5rem 1.5rem;
		border-radius: $RADIUS-7;
	}
	&.extra-small {
		@include interface-xs;
		gap: 1rem;
		padding: 0.5rem 1.5rem;
		border-radius: $RADIUS-7;
	}

	/*
		Variants
	*/
	&.flat {
		& {
			background-color: transparent;
			border-color: transparent;
		}

		/*
			"Flat" variant states
		*/
		@media (hover: hover) {
			&:hover {
				@include base-border-color;
				color: $TEXT-HOVER;
				background-color: $BG-HOVER;
			}
		}
		&:active {
			@include base-border-color;
			background-color: $BG-ACTIVE;
		}
	}

	/*
		States
	*/
	@media (hover: hover) {
		&:hover {
			color: $TEXT-HOVER;
			background-color: $BG-HOVER;
		}
	}
	&:active {
		background-color: $BG-ACTIVE;
	}
	&:disabled {
		& {
			text-decoration: none;
			pointer-events: none;
			color: $TEXT-DISABLED;
		}

		.icon {
			fill: $ICON-DISABLED;
		}
	}
}
