@use '../../styles/modules/typography/typography.module.scss' as *;

.chip-cloud {
	& {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		list-style: none;
		width: 100%;
		gap: 0.5rem;
		padding: 0;
		margin: 0;
	}

	& li .chip.extra-small {
		@include interface-xs;
		padding: 0.5rem;
		opacity: 45%;
	}
	& li .chip.small {
		@include interface-s;
		padding: 0.5rem;
		opacity: 55%;
	}
	& li .chip.regular {
		@include interface-r;
		padding: 0.5rem;
		opacity: 70%;
	}
	& li .chip.large {
		@include interface-l;
		padding: 0.5rem;
		opacity: 85%;
	}
	& li .chip.extra-large {
		@include interface-xl;
		padding: 0.5rem;
		opacity: 100%;
	}
}
