$FONT-SIZES: (
	xs: (
		name: 'xs',
		value: 12,
	),
	s: (
		name: 's',
		value: 14,
	),
	m: (
		name: 'm',
		value: 16,
	),
	r: (
		name: 'r',
		value: 20,
	),
	l: (
		name: 'l',
		value: 24,
	),
	1xl: (
		name: '1xl',
		value: 36,
	),
	2xl: (
		name: '2xl',
		value: 48,
	),
	3xl: (
		name: '3xl',
		value: 64,
	),
	4xl: (
		name: '4xl',
		value: 96,
	),
	5xl: (
		name: '5xl',
		value: 128,
	),
);
