@use 'functions' as *;

/*
	Font family mixins
*/
@mixin font-syne {
	font-family: get-font-family(syne);
}
@mixin font-opensans {
	font-family: get-font-family(open-sans);
}
@mixin font-majormono {
	font-family: get-font-family(major-mono);
}

/*
	Title text mixins

	@link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,54,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/
@mixin heading-xl {
	@include font-syne;

	font-size: clamp(2.8rem, 0.19rem + 13.04vw, 10.3rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin heading-l {
	@include font-syne;

	font-size: clamp(2.33rem, 0.28rem + 10.27vw, 8.24rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin heading-r {
	@include font-syne;

	font-size: clamp(1.94rem, 0.33rem + 8.08vw, 6.59rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin heading-s {
	@include font-syne;

	font-size: clamp(1.62rem, 0.35rem + 6.35vw, 5.27rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin heading-xs {
	@include font-syne;

	font-size: clamp(1.35rem, 0.35rem + 4.99vw, 4.22rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin heading-2xs {
	@include font-syne;

	font-size: clamp(1.13rem, 0.34rem + 3.91vw, 3.38rem);
	font-weight: get-font-weight-value(semibold);
}

/*
	Body text mixins

	@link https://utopia.fyi/type/calculator?c=320,16,1.067,1240,20,1.125,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/
@mixin body-xl {
	@include font-opensans;

	font-size: clamp(1.38rem, 1.08rem + 1.51vw, 2.25rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin body-l {
	@include font-opensans;

	font-size: clamp(1.3rem, 1.05rem + 1.23vw, 2rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin body-r {
	@include font-opensans;

	font-size: clamp(1.22rem, 1.02rem + 0.98vw, 1.78rem);
	font-weight: get-font-weight-value(regular);
}
@mixin body-s {
	@include font-opensans;

	font-size: clamp(1.14rem, 0.98rem + 0.77vw, 1.58rem);
	font-weight: get-font-weight-value(regular);
}
@mixin body-xs {
	@include font-opensans;

	font-size: clamp(1.07rem, 0.95rem + 0.59vw, 1.41rem);
	font-weight: get-font-weight-value(regular);
}
@mixin body-2xs {
	@include font-opensans;

	font-size: clamp(1rem, 0.91rem + 0.43vw, 1.25rem);
	font-weight: get-font-weight-value(regular);
}

/*
	Interface text mixins

	@link https://utopia.fyi/type/calculator?c=320,18,1.067,1240,20,1.125,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/
@mixin interface-xl {
	@include font-opensans;

	white-space: nowrap;
	letter-spacing: 3.2px;
	font-size: clamp(1.38rem, 1.08rem + 1.51vw, 2.25rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin interface-l {
	@include font-opensans;

	white-space: nowrap;
	letter-spacing: 3.2px;
	font-size: clamp(1.3rem, 1.05rem + 1.23vw, 2rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin interface-r {
	@include font-opensans;

	white-space: nowrap;
	letter-spacing: 3.2px;
	font-size: clamp(1.22rem, 1.02rem + 0.98vw, 1.78rem);
	font-weight: get-font-weight-value(semibold);
}
@mixin interface-s {
	@include font-opensans;

	white-space: nowrap;
	letter-spacing: 3.2px;
	font-size: clamp(1.14rem, 0.98rem + 0.77vw, 1.58rem);
	font-weight: get-font-weight-value(bold);
}
@mixin interface-xs {
	@include font-opensans;

	white-space: nowrap;
	letter-spacing: 3.2px;
	font-size: clamp(1.07rem, 0.95rem + 0.59vw, 1.41rem);
	font-weight: get-font-weight-value(bold);
}
@mixin interface-2xs {
	@include font-opensans;

	white-space: nowrap;
	letter-spacing: 3.2px;
	font-size: clamp(1rem, 0.91rem + 0.43vw, 1.25rem);
	font-weight: get-font-weight-value(bold);
}
