@use 'variables' as va;

/*
	Font family mixins
*/
@mixin font-syne {
	font-family: va.$SYNE;
}
@mixin font-opensans {
	font-family: va.$OPEN-SANS;
}
@mixin font-majormono {
	font-family: va.$MAJOR-MONO;
}

/*
	Title text mixins
*/
@mixin heading-xl {
	@include font-syne;

	font-size: map-get(va.$HEADING-TEXT-FONT, xl);
	font-weight: map-get(va.$FONT-WEIGHT, semibold);
}
@mixin heading-l {
	@include font-syne;

	font-size: map-get(va.$HEADING-TEXT-FONT, l);
	font-weight: map-get(va.$FONT-WEIGHT, semibold);
}
@mixin heading-r {
	@include font-syne;

	font-size: map-get(va.$HEADING-TEXT-FONT, r);
	font-weight: map-get(va.$FONT-WEIGHT, semibold);
}
@mixin heading-m {
	@include font-syne;

	font-size: map-get(va.$HEADING-TEXT-FONT, m);
	font-weight: map-get(va.$FONT-WEIGHT, semibold);
}
@mixin heading-s {
	@include font-syne;

	font-size: map-get(va.$HEADING-TEXT-FONT, s);
	font-weight: map-get(va.$FONT-WEIGHT, semibold);
}
@mixin heading-xs {
	@include font-syne;

	font-size: map-get(va.$HEADING-TEXT-FONT, xs);
	font-weight: map-get(va.$FONT-WEIGHT, semibold);
}

/*
	Body text mixins
*/
@mixin body-l {
	@include font-opensans;

	font-size: map-get(va.$BODY-TEXT-FONT, l);
	font-weight: map-get(va.$FONT-WEIGHT, semibold);
}
@mixin body-r {
	@include font-opensans;

	font-size: map-get(va.$BODY-TEXT-FONT, r);
	font-weight: map-get(va.$FONT-WEIGHT, regular);
}
@mixin body-m {
	@include font-opensans;

	font-size: map-get(va.$BODY-TEXT-FONT, m);
	font-weight: map-get(va.$FONT-WEIGHT, regular);
}
