@import url(https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

$SYNE: 'Syne', sans-serif;
$OPEN-SANS: 'Open Sans', sans-serif;
$MAJOR-MONO: 'Major Mono Display', monospace;

$FONT-FAMILY: (
	syne: $SYNE,
	open-sans: $OPEN-SANS,
	major-mono: $MAJOR-MONO,
);

$HEADING-TEXT-FONT: (
	2xs: 32px,
	xs: 40px,
	s: 48px,
	r: 64px,
	l: 96px,
	xl: 128px,
);

$BODY-TEXT-FONT: (
	2xs: 10px,
	xs: 14px,
	s: 16px,
	r: 20px,
	l: 24px,
	xl: 32px,
);

$FONT-WEIGHT: (
	light: 300,
	regular: 400,
	semibold: 600,
	bold: 800,
);
