@import url(https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

$SYNE: 'Syne', sans-serif;
$OPEN-SANS: 'Open Sans', sans-serif;
$MAJOR-MONO: 'Major Mono Display', monospace;

$FONT-SIZE: (
	xs: 12px,
	s: 14px,
	m: 16px,
	r: 20px,
	l: 24px,
	1xl: 36px,
	2xl: 48px,
	3xl: 64px,
	4xl: 96px,
	5xl: 128px,
);

$FONT-WEIGHT: (
	light: 300,
	regular: 400,
	semibold: 600,
);
