@import url(https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

$SYNE: 'Syne', sans-serif;
$OPEN-SANS: 'Open Sans', sans-serif;
$MAJOR-MONO: 'Major Mono Display', monospace;

$FONT-FAMILY: (
	syne: $SYNE,
	open-sans: $OPEN-SANS,
	major-mono: $MAJOR-MONO,
);

$HEADING-TEXT-FONT: (
	xs: 2rem,
	s: 2.4rem,
	r: 3.2rem,
	l: 4.8rem,
	xl: 6.4rem,
);

$BODY-TEXT-FONT: (
	xs: 0.7rem,
	s: 0.8rem,
	r: 1rem,
	l: 1.2rem,
	xl: 1.6rem,
);

$FONT-WEIGHT: (
	light: 300,
	regular: 400,
	semibold: 600,
	bold: 800,
);
