@use 'sass:map';
@use 'sass:list';

@use 'font-weight' as fw;
@use 'font-size' as fs;
@use 'fonts' as fo;

$title-text-font: fo.$SYNE;
$body-text-font: fo.$OPEN-SANS;

/*
	Title text mixins
*/
@mixin typography-title-5xl-128-semibold {
	font-size: map-get(fs.$FONT-SIZE, 5xl);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $title-text-font;
}
@mixin typography-title-4xl-96-semibold {
	font-size: map-get(fs.$FONT-SIZE, 4xl);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $title-text-font;
}
@mixin typography-title-3xl-64-semibold {
	font-size: map-get(fs.$FONT-SIZE, 3xl);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $title-text-font;
}
@mixin typography-title-2xl-48-semibold {
	font-size: map-get(fs.$FONT-SIZE, 2xl);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $title-text-font;
}
@mixin typography-title-1xl-36-semibold {
	font-size: map-get(fs.$FONT-SIZE, 1xl);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $title-text-font;
}

/*
	Body text mixins
*/
@mixin typography-body-l-24-semibold {
	font-size: map-get(fs.$FONT-SIZE, l);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $body-text-font;
}
@mixin typography-body-r-20-semibold {
	font-size: map-get(fs.$FONT-SIZE, r);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $body-text-font;
}
@mixin typography-body-m-16-semibold {
	font-size: map-get(fs.$FONT-SIZE, m);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $body-text-font;
}
@mixin typography-body-s-14-semibold {
	font-size: map-get(fs.$FONT-SIZE, s);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $body-text-font;
}
@mixin typography-body-xs-12-semibold {
	font-size: map-get(fs.$FONT-SIZE, xs);
	font-weight: map-get(fw.$FONT-WEIGHT, semibold);
	font-family: $body-text-font;
}
