@use '../styles/modules/spacing.module.scss' as *;
@use '../styles/modules/color/color.module.scss' as *;

.main {
	z-index: 0;

	.page-banner {
		& {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			position: relative;
			z-index: -1;
			width: 100%;
			padding-top: $SPACING-S-XL;
			padding-bottom: $SPACING-XL-5XL;
		}

		.intro-section {
			text-align: center;
		}
	}

	.page-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 1;
		padding: $SPACING-XL-5XL 0 $SPACING-XL-5XL 0;
		gap: $SPACING-XL-5XL;
		background: linear-gradient(
			transparent 1%,
			var(--BG-SECONDARY-SHADE) 20%,
			var(--BG-SECONDARY) 60%,
			var(--BG-SECONDARY) 100%
		);
	}
}
