@use '../../styles/modules.scss' as *;

.nav-logo {
	@include flex-horizontal-layout;
	@include full-parent-width-layout;
	@include font-majormono;
	@include screen-breakpoint(extra-large) {
		font-size: map-get($HEADING-TEXT-FONT, xl);
	}
	@include screen-breakpoint(large, small) {
		font-size: map-get($HEADING-TEXT-FONT, l);
	}
	@include screen-breakpoint(tablet, mobile) {
		font-size: map-get($HEADING-TEXT-FONT, s);
	}

	justify-content: center;
	color: white;
	text-decoration: none;
	background-color: aquamarine;
}

.nav-list {
	@include flex-vertical-layout;
	@include full-parent-layout;

	gap: get-spacing-value(spacing-16);

	background-color: rebeccapurple;
}

.navbar {
	@include screen-breakpoint(extra-large) {
		@include flex-vertical-layout;
		width: 30%;
	}
	@include screen-breakpoint(large) {
		@include flex-vertical-layout;
		width: 35%;
	}
	@include screen-breakpoint(small) {
		@include flex-vertical-layout;
		width: 40%;
	}
	@include screen-breakpoint(tablet, mobile) {
		@include flex-vertical-layout;
		width: 100%;
	}

	align-items: center;
	@include screen-breakpoint(extra-large, large, small) {
		gap: get-spacing-value(spacing-64);
	}
	@include screen-breakpoint(tablet, mobile) {
		gap: get-spacing-value(spacing-16);
	}
}
