@use '../../styles/modules.scss' as *;

.navigation {
	& {
		display: flex;
		flex-direction: column;

		position: sticky;
		left: 0;
		top: 0;

		width: 100%;

		background-color: brown;
	}

	.logo-button-container {
		display: flex;
		justify-content: space-between;
		z-index: 2;

		width: 100%;
		height: fit-content;

		background-color: cadetblue;

		.nav-logo {
			@include font-majormono;
			width: fit-content;
			height: fit-content;
			color: white;
			text-decoration: none;
			font-size: map-get($HEADING-TEXT-FONT, r);
			background-color: aquamarine;
		}

		.section-list {
			display: flex;
			align-self: center;
			height: fit-content;
			padding: 0;
			margin: 0;
			list-style-type: none;
			gap: get-spacing-value(spacing-32);
		}
		@include screen-breakpoint(mobile, tablet) {
			.section-list {
				display: none;
			}
		}

		.mobile-hamburguer {
			display: none;
		}
		@include screen-breakpoint(mobile, tablet) {
			.mobile-hamburguer {
				display: flex;
				align-self: center;
			}
		}
	}

	.nav-list {
		display: none;
	}
	@include screen-breakpoint(mobile, tablet) {
		.nav-list {
			position: absolute;
			z-index: 1;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: fit-content;
			gap: get-spacing-value(spacing-16);
			background-color: rebeccapurple;
		}
	}

	/*
		States
	*/
	&.open {
		.nav-list {
			top: 100%;
			transition: top 150ms;
		}
	}

	&.closed {
		.nav-list {
			top: -300%;
			transition: top 150ms;
		}
	}
}
