@use '../../styles/modules.scss' as *;

.navigation {
	& {
		display: flex;
		flex-direction: column;
		height: fit-content;
		width: 100%;
		position: fixed;

		left: 0;
		top: 0;

		@include screen-breakpoint(mobile, tablet) {
			position: sticky;
		}
	}

	.logo-button-container {
		& {
			display: flex;
			justify-content: space-between;
			z-index: 2;
			width: 100%;
			height: fit-content;
			background-color: #262626;
		}

		.logo {
			& {
				padding: get-spacing-value(spacing-16);
				width: fit-content;
			}

			.logo-svg {
				width: clamp(2px, 5rem + 1vw, 10rem);
			}
		}

		.section-list {
			& {
				display: flex;
				gap: get-spacing-value(spacing-16);
				margin: 0;
				padding: get-spacing-value(spacing-16);
				align-self: center;
				list-style-type: none;

				@include screen-breakpoint(mobile, tablet) {
					display: none;
				}
			}

			li {
				height: fit-content;
			}
		}

		.mobile-hamburguer {
			display: none;

			@include screen-breakpoint(mobile, tablet) {
				display: flex;
				align-self: center;
				margin: 8px;
			}
		}
	}

	.nav-list {
		display: none;
		@include screen-breakpoint(mobile, tablet) {
			display: flex;
			flex-direction: column;
			gap: get-spacing-value(spacing-16);

			width: 100%;
			height: fit-content;

			position: absolute;
			z-index: 1;

			background-color: rebeccapurple;
		}
	}

	/*
		States
	*/
	&.open {
		.nav-list {
			top: 100%;
			transition: top 150ms;
		}
	}

	&.closed {
		.nav-list {
			top: -300%;
			transition: top 150ms;
		}
	}
}
