@use '../../styles/modules.scss' as *;

.nav-logo {
	@include flex-horizontal-layout;
	@include full-parent-width-layout;
	@include font-majormono;

	justify-content: center;
	font-size: map-get($HEADING-TEXT-FONT, xl);
	color: white;
	text-decoration: none;

	background-color: aquamarine;
}

.nav-list {
	@include flex-vertical-layout;
	@include full-parent-layout;

	gap: map-get($SPACING-SIZE, spacing-16);

	background-color: rebeccapurple;
}
