@use '../../../../styles/modules/shadow.module.scss' as *;
@use '../../../../styles/modules/typography/typography.module.scss' as *;
@use '../../../../styles/modules/shadow.module.scss' as *;

.footer-list-item {
	& {
		@include body-xs;
		@include shadow-black(text-shadow);
		text-decoration: none;
		color: var(--TEXT-DEFAULT);
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
		transition: color 50ms;
		cursor: pointer;

		&:hover {
			color: var(--FG-PRIMARY);
		}
	}

	a {
		& {
			@include body-xs;
			@include shadow-black(text-shadow);
			text-decoration: none;
			color: var(--TEXT-DEFAULT);
			transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
			transition: color 50ms;
		}

		&:hover {
			color: var(--FG-PRIMARY);
		}
	}
}
