@use 'sass:map';

$COLOR-PALETTE: (
	color-palette-black-000000: #000000,
	color-palette-white-ffffff: #ffffff,
	color-palette-transparent-ffffff00: #ffffff00,
	color-palette-black-131313: #131313,
	color-palette-black-232323: #232323,
	color-palette-black-242424: #242424,
	color-palette-black-262626: #262626,
	color-palette-black-282828: #282828,
);