$COLOR-PALETTE: (
	white-ffffff: #ffffff,
	white-ffffff-5: #ffffff0d,
	white-ffffff-15: #ffffff26,
	white-ffffff-25: #ffffff40,
	white-ffffff-35: #ffffff59,
	white-ffffff-45: #ffffff73,
	white-ffffff-50: #ffffff80,
	black-000000: #000000,
	black-000000-5: #0000000d,
	black-000000-15: #00000026,
	black-000000-25: #00000040,
	black-000000-35: #00000059,
	black-000000-45: #00000073,
	black-000000-50: #00000080,
	transparent-ffffff: #ffffff00,
	black0-131313: #131313,
	black1-232323: #232323,
	black2-242424: #242424,
	black3-262626: #262626,
	black4-282828: #282828,
);

$COMPONENT-COLOR-PALETTE: (
	disabled: #ffffff40,
);
