$color-palette-black-000000: #000000;
$color-palette-white-000000: #ffffff;

$color-palette-black-131313: #131313;
$color-palette-black-232323: #232323;
$color-palette-black-242424: #242424;
$color-palette-black-262626: #262626;
$color-palette-black-282828: #282828;
