@use '../../../styles/modules.scss' as *;

.timeline-subitem {
	& {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		gap: 0.5rem;

		&::before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			top: 50%;
			left: -1.3rem;
			transform: translateY(-50%);
			border-radius: 50%;
			background-color: white;
		}
	}

	.date {
		& {
			position: absolute;
			width: 5rem;
			text-align: center;
			left: -7rem;
			color: get-color-value(white-ffffff-50);

			@include screen-breakpoint(tablet) {
				left: -6.75rem;
			}
			@include screen-breakpoint(mobile) {
				left: -6.5rem;
			}
		}
	}

	.icons {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		width: fit-content;
	}
}
