@use '../../../styles/modules/typography/typography.module.scss' as *;
@use '../../../styles/modules/spacing.module.scss' as *;
@use '../../../styles/modules/color/color.module.scss' as *;

.timeline-subitem {
	& {
		display: grid;
		grid-template-columns: auto auto 1fr;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		gap: 1rem;
	}

	.date {
		@include interface-xs;
		width: 5rem;
		font-weight: $WEIGHT-LIGHT;
		letter-spacing: normal;
		text-align: center;
		color: var(--FG-PRIMARY-SHADE);
	}

	.vertical-separator {
		& {
			position: relative;
			width: 2px;
			height: 100%;
			background-color: var(--FG-PRIMARY-SHADE);
		}

		&::before {
			content: '';
			position: absolute;
			width: 0.5rem;
			height: 0.5rem;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			background-color: var(--FG-PRIMARY);
			transform: translateY(-50%) translateX(-50%);
		}
	}

	.information-container {
		& {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding-bottom: 0.5rem;
		}

		.description {
			max-width: 75ch;
		}

		.icons {
			display: flex;
			flex-wrap: wrap;
			width: fit-content;
			gap: 0.25rem;
		}
	}
}
