@use '../../styles/modules.scss' as *;

.work-timeline {
	& {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	& :first-child {
		.left-separator {
			&::after {
				content: '';
				transform: translateX(50%);
				border-image: linear-gradient(
						to top,
						#ffffff 85%,
						#ffffff 5%,
						#00000000
					)
					1 / 5px;
			}
		}
	}

	& :last-child {
		.left-separator {
			&::after {
				content: '';
				transform: translateX(50%);
				border-image: linear-gradient(
						to bottom,
						#ffffff 85%,
						#ffffff 5%,
						#00000000
					)
					1 / 5px;
			}
		}
	}
}
