@use '../../styles/modules/color/color.module.scss' as *;

.work-timeline {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	.timeline-item {
		&:first-child {
			& > .item-heading {
				.date {
					padding-top: 1rem;
				}

				.vertical-separator {
					background-color: transparent;
					border-image: linear-gradient(
							to top,
							var(--FG-PRIMARY-SHADE) 60%,
							var(--FG-PRIMARY-SHADE) 5%,
							transparent
						)
						1 / 5px;

					&::before {
						margin-top: 0.5rem;
					}
				}

				.title {
					padding-top: 1rem;
				}
			}
		}

		&:last-child {
			& > .subitem-container > .timeline-subitem:last-child {
				.information-container {
					padding-bottom: 1rem;
				}

				.vertical-separator {
					& {
						background-color: transparent;
						border-image: linear-gradient(
								to bottom,
								var(--FG-PRIMARY-SHADE) 60%,
								var(--FG-PRIMARY-SHADE) 5%,
								transparent
							)
							1 / 5px;
					}
				}
			}
		}
	}
}
