@use '../../../styles/modules.scss' as *;

.chip {
	& {
		background-color: get-color-value(white-ffffff-15);
		color: get-color-value(white-ffffff);

		border-radius: 99999px;
		width: fit-content;

		text-transform: uppercase;
		text-align: center;

		border-width: 1px;
		border-style: solid;
		border-color: get-color-value(white-ffffff-5)
			get-color-value(white-ffffff-5) get-color-value(white-ffffff-15)
			get-color-value(white-ffffff-5);

		transition: background-color 150ms;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
	}

	/*
		Sizes
	*/
	&.extra-large {
		@include interface-xl;
		padding: 1.5rem 1.5rem;
	}
	&.large {
		@include interface-l;
		padding: 1rem 1rem;
	}
	&.regular {
		@include interface-r;
		padding: 0.5rem 1rem;
	}
	&.small {
		@include interface-s;
		padding: 0.5rem 1rem;
	}
	&.extra-small {
		@include interface-xs;
		padding: 0.5rem 1rem;
	}

	/*
		Types
	*/
	&.interactive {
		& {
			user-select: none;
		}

		&:hover {
		}
		&:active {
			background-color: get-color-value(white-ffffff-25);
		}
	}

	/*
		States
	*/
	&:disabled {
		color: get-component-color-value(disabled);
		text-decoration: none;
		pointer-events: none;
	}
	&:hover {
	}
	&:active {
	}
}
