@use '../../../styles/modules/color/color.module.scss' as *;
@use '../../../styles/modules/border.module.scss' as *;
@use '../../../styles/modules/typography/typography.module.scss' as *;

.chip {
	& {
		@include base-border;
		width: fit-content;
		box-sizing: border-box;
		text-transform: uppercase;
		text-align: center;
		border-radius: 99999px;
		background-color: $BG-DEFAULT;
		transition: background-color 150ms;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
	}

	/*
		Sizes
	*/
	&.extra-large {
		@include interface-xl;
		padding: 1.5rem 1.5rem;
	}
	&.large {
		@include interface-l;
		padding: 1rem 1rem;
	}
	&.regular {
		@include interface-r;
		padding: 0.5rem 1rem;
	}
	&.small {
		@include interface-s;
		padding: 0.5rem 1rem;
	}
	&.extra-small {
		@include interface-xs;
		padding: 0.5rem 1rem;
	}

	/*
		Types
	*/
	&.interactive {
		user-select: none;

		&:hover {
		}
		&:active {
			background-color: $BG-ACTIVE;
		}
	}

	/*
		States
	*/
	&:hover {
	}
	&:active {
	}
	&.disabled {
		text-decoration: none;
		pointer-events: none;
		color: $TEXT-DISABLED;
		background-color: $BG-DISABLED;
	}
}
