@use '../../../styles/modules/shadow.module.scss' as *;
@use '../../../styles/modules/typography/typography.module.scss' as *;
@use '../../../styles/modules/shadow.module.scss' as *;

.footer-list {
	& {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		min-width: 4.5rem;
	}

	.header {
		@include interface-r;
		text-transform: uppercase;
		color: var(--TEXT-DEFAULT);
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
