@use '../../styles/modules.scss' as *;

.footer {
	& {
		border-top: 1px solid $white-ffffff-5;
		padding: 1rem $spacing-s-2xl 1rem
			$spacing-s-2xl;

		background-color: $black3-262626;
	}

	.copyright-notice {
		opacity: 50%;
	}
}
