@use '../../styles/modules/color/color.module.scss' as *;
@use '../../styles/modules/spacing.module.scss' as *;
@use '../../styles/modules/typography/typography.module.scss' as *;

.footer {
	& {
		display: flex;
		gap: 2rem;
		background-color: var(--BG-DEFAULT);
		padding: 2rem $SPACING-S-2XL 2rem $SPACING-S-2XL;
		border-top: 1px solid var(--BORDER-PRIMARY);
	}
}
