@use '../../../styles/modules/color/color.module.scss' as *;
@use '../../../styles/modules/spacing.module.scss' as *;
@use '../../../styles/modules/typography/typography.module.scss' as *;

.timeline-item {
	.left-separator {
		display: flex;
		justify-content: flex-end;
	}

	.item-heading {
		& {
			display: grid;
			grid-template-columns: auto auto 1fr;
			gap: 1rem;
			align-items: center;
		}

		.date {
			@include interface-l;
			width: 5.5rem;
			letter-spacing: normal;
			text-align: center;
			font-weight: $WEIGHT-REGULAR;
			color: var(--FG-PRIMARY-SHADE);
		}

		.vertical-separator {
			& {
				position: relative;
				width: 2px;
				height: 100%;
				background-color: var(--FG-PRIMARY-SHADE);
			}

			&::before {
				content: '';
				position: absolute;
				width: 1rem;
				height: 1rem;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				background-color: var(--FG-PRIMARY);
				transform: translateY(-50%) translateX(-50%);
			}
		}
	}
}
