/*
	100% containers mixins
*/
@mixin full-parent-width-container {
	width: 100%;
}
@mixin full-parent-height-container {
	height: 100%;
}
@mixin full-parent-container {
	@include full-parent-width-container;
	@include full-parent-height-container;
}

/*
    Flex containers mixins
*/
@mixin flex-container {
	display: flex;
}
@mixin flex-vertical-container {
	@include flex-container;
	flex-direction: column;
}
@mixin flex-horizontal-container {
	@include flex-container;
	flex-direction: row;
}

/*
    Viewport containers mixins
*/
@mixin full-viewport-width-container {
	width: 100vw;
}
@mixin full-viewport-height-container {
	height: 100vh;
}
@mixin full-viewport-container {
	@include full-viewport-width-container;
	@include full-viewport-height-container;
}

/*
	Container interations mixins
*/
@mixin clickable-container {
	cursor: pointer;
}
@mixin unselectable-container {
	user-select: none;
}
@mixin clickable-unselectable-container {
	@include clickable-container;
	@include unselectable-container;
}
