@use '../styles/modules.scss' as *;

/*
	Non-responsive styles
*/
.index-title {
	@include full-parent-layout;
	@include flex-vertical-layout;
	@include flex-layout-perfectly-centered;
}

.information-page {
	@include flex-vertical-layout;
}

/*
	Screen size responsive styles
*/
.main {
	// Width
	@include screen-breakpoint(extra-large) {
		width: 70%;
	}
	@include screen-breakpoint(large) {
		width: 65%;
	}
	@include screen-breakpoint(small) {
		width: 60%;
	}
	@include screen-breakpoint(tablet, mobile) {
		width: 100%;
	}

	gap: get-spacing-value(spacing-32);
	overflow: auto;
	background-color: rgb(255, 192, 116);
}
