@use '../styles/modules.scss' as *;

.index-title {
	& {
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	@include screen-breakpoint(mobile, tablet) {
		min-height: fit-content;
	}
}

.information-page {
	align-items: center;
	justify-content: center;
}

.main {
	display: flex;
	flex-direction: column;
	gap: get-spacing-value(spacing-32);
	background-color: rgb(0, 0, 0);
}
