@use '../../styles/modules.scss' as *;

.landing-banner {
	& {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}

	.cursor-radial {
		position: absolute;
		width: 300px;
		height: 300px;
		background: radial-gradient(
			circle at center,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(0, 0, 0, 0) 50%
		);
		z-index: -3;
		scale: 5;
	}

	.gradient {
		width: 100%;
		height: 100%;
		scale: 10;
		animation: gradient-animation 50s linear infinite;
		background: linear-gradient(
			rgba(2, 0, 36, 1) 0%,
			rgb(105, 54, 187) 24%,
			rgb(255, 40, 105) 48%,
			rgb(177, 42, 230) 73%,
			rgb(0, 110, 255) 100%
		);
		z-index: -4;
		filter: blur();
		@keyframes gradient-animation {
			0% {
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
