@use 'color/color.module.scss' as *;
@use 'radius.module.scss' as *;

/*
	Border mixins
*/
@mixin base-border-color {
	border-top-color: var(--BORDER-PRIMARY);
	border-bottom-color: var(--BORDER-SECONDARY);
	border-left-color: var(--BORDER-PRIMARY);
	border-right-color: var(--BORDER-PRIMARY);
}
@mixin base-border {
	@include base-border-color;
	border-width: 1px;
	border-style: solid;
	border-radius: $RADIUS-13;
}
