@use 'colors.module.scss' as *;
@use 'radius.module.scss' as *;

/*
	Border mixins
*/
@mixin base-border-color {
	border-top-color: $white-ffffff-5;
	border-bottom-color: $white-ffffff-15;
	border-left-color: $white-ffffff-5;
	border-right-color: $white-ffffff-5;
}
@mixin base-border {
	@include base-border-color;
	border-width: 1px;
	border-style: solid;
	border-radius: $radius-13;
}
