@use '../../../styles/modules.scss' as *;

.project-item {
	& {
		display: flex;
		width: 45%;
		background-color: get-color-value(white-ffffff-15);
		border-radius: 2.5rem;
		overflow: hidden;
		justify-content: center;

		@include screen-breakpoint(mobile, tablet) {
			width: 100%;
		}
	}

	.cover-image {
		position: relative;
		width: 30%;
		height: auto;
	}

	.main-information {
		& {
			display: flex;
			flex-direction: column;
			gap: get-spacing-value(spacing-16);
			padding: get-spacing-value(spacing-16);
			width: 70%;
		}

		.title {
			word-break: keep-all;
		}

		.description {
			height: 100%;
		}

		.tech-icons {
			display: flex;
			gap: get-spacing-value(spacing-8);
		}
	}

	.icon-links {
		display: flex;
		flex-direction: column;
		gap: get-spacing-value(spacing-16);
		padding: get-spacing-value(spacing-16);
	}
}
