@use '../../../styles/modules.scss' as *;

.project-item {
	& {
		display: flex;
		justify-content: center;
		width: 100%;
		overflow: hidden;
		box-sizing: border-box;
		padding: get-responsive-spacing-value(default, spacing-s);
		gap: 1rem;
		background-color: get-color-value(black3-262626);
		border-width: 1px;
		border-style: solid;
		border-radius: get-radius-value(radius-13);
		border-color: get-color-value(white-ffffff-5)
			get-color-value(white-ffffff-5) get-color-value(white-ffffff-15)
			get-color-value(white-ffffff-5);
	}

	.cover-image {
		position: relative;
		width: 30%;
		height: auto;
	}

	.main-information {
		& {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.title {
			word-break: keep-all;
		}

		.description {
			height: 100%;
		}

		.tech-icons {
			display: flex;
			gap: 0.5rem;
		}
	}

	.icon-links {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
