@use './modules/typography/typography.module.scss' as *;
@use './modules/colors.module.scss' as *;

/*
	Global title text styling
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	margin: 0px;
	word-break: break-word;
}

/*
	Global body text styling
*/
p {
	& {
		@include body-r;
		color: white;
		margin: 0px;
		word-break: break-word;
		hyphens: auto;
	}

	&[data-size='extra-large'] {
		@include body-xl;
		margin: 0px;
	}
	&[data-size='large'] {
		@include body-l;
		margin: 0px;
	}
	&[data-size='regular'] {
		@include body-r;
		margin: 0px;
	}
	&[data-size='small'] {
		@include body-s;
		margin: 0px;
	}
	&[data-size='extra-small'] {
		@include body-xs;
		margin: 0px;
	}
}

/*
	Global horizontal line element styling
*/
hr {
	& {
		position: relative;
		margin: 0px;
		height: 2px;
		border: 0px;
		width: 100%;
		animation: none;
		background-image: linear-gradient(
			90deg,
			transparent,
			$WHITE-50,
			transparent
		);
	}

	&::after {
		animation: none;
	}

	&[data-variant='solid'] {
		position: relative;
		margin: 0px;
		height: 2px;
		border: 0px;
		width: 100%;
		animation: none;
		background-color: $WHITE-50;

		&::after {
			animation: none;
		}
	}
	&[data-variant='animated-gradient'] {
		& {
			position: relative;
			margin: 0px;
			height: 2px;
			border: 0px;
			width: 100%;
			background-image: linear-gradient(
				90deg,
				transparent,
				$WHITE-50,
				transparent
			);
			animation: pulse 2.5s infinite;
			animation-timing-function: cubic-bezier();
		}

		@keyframes pulse {
			0% {
				opacity: 75%;
			}
			50% {
				opacity: 100%;
			}
			100% {
				opacity: 75%;
			}
		}

		&::after {
			& {
				content: 'ã…¤';
				position: absolute;
				transform: translateX(-50%);
				background-image: linear-gradient(
					90deg,
					transparent,
					white,
					transparent
				);
				left: 50%;
				right: 50%;
				height: inherit;
				animation: afterPulse 2.5s infinite;
				animation-timing-function: cubic-bezier();
			}

			@keyframes afterPulse {
				0% {
					width: 0px;
					opacity: 0%;
				}
				1% {
					width: 4px;
					opacity: 100%;
				}
				50% {
					opacity: 25%;
				}
				100% {
					width: 100%;
					opacity: 0%;
				}
			}
		}
	}
}
