@use './typography/typography.module.scss' as ty;

/*
	Global title text styling
*/
h1 {
	@include ty.heading-xl;
	margin: 0px;
}
h2 {
	@include ty.heading-l;
	margin: 0px;
}
h3 {
	@include ty.heading-m;
	margin: 0px;
}
h4 {
	@include ty.heading-r;
	margin: 0px;
}
h5 {
	@include ty.heading-s;
	margin: 0px;
}
h6 {
	@include ty.heading-xs;
	margin: 0px;
}

/*
	Global body text styling
*/
p {
	@include ty.body-r;
	margin: 0px;
}
