@use './modules.scss' as *;
@use '../components/components' as *;
@use '../pages/index.scss' as *;
@use 'elements';

/*
	Global root HTML page styling
*/
html {
	@include full-viewport-layout;
	background-color: rgb(38, 0, 255);
}

body {
	@include full-parent-layout;
	margin: 0px;
}

#__next {
	@include full-parent-layout;
	background-color: rgb(0, 255, 179);

	// Flex direction
	@include screen-breakpoint(extra-large, large, small) {
		@include flex-horizontal-layout;
	}
	@include screen-breakpoint(tablet, mobile) {
		@include flex-vertical-layout;
	}
}
