@use '../../styles/modules.scss' as *;

.page-section {
	// Height
	@include screen-breakpoint(extra-large) {
		height: calc(100vh - 128px);
	}
	@include screen-breakpoint(large) {
		height: calc(100vh - 96px);
	}
	@include screen-breakpoint(small) {
		height: calc(100vh - 80px);
	}
	@include screen-breakpoint(tablet, mobile) {
		height: calc(100vh - 48px);
	}

	width: 100%;
}
