@use './variables' as *;

.dark-theme {
	// Color variables
	--BG-PRIMARY: #{$BLACK1-0D0D0D};
	--BG-SECONDARY: black;
	--BG-SECONDARY-SHADE: #{$BLACK-50};
	--FG-PRIMARY: white;
	--FG-PRIMARY-SHADE: #{$WHITE-50};
	--BORDER-PRIMARY: #{$WHITE-5};
	--BORDER-SECONDARY: #{$WHITE-15};
	--GRADIENT: #{$GRADIENT1};

	// Component variables
	--TEXT-ACTIVE: white;
	--TEXT-HOVER: white;
	--TEXT-DEFAULT: #{$WHITE-45};
	--TEXT-DISABLED: #{$WHITE-35};
	--BG-ACTIVE: #{$WHITE-25};
	--BG-HOVER: #{$WHITE-15};
	--BG-DEFAULT: #{$WHITE-5};
	--BG-DISABLED: #{$WHITE-15};
	--ICON-DISABLED: #{$WHITE-25};
}

.light-theme {
	// Color variables
	--BG-PRIMARY: #{$WHITE1-F0F0F0};
	--BG-SECONDARY: white;
	--BG-SECONDARY-SHADE: #{$WHITE-50};
	--FG-PRIMARY: black;
	--FG-PRIMARY-SHADE: #{$BLACK-50};
	--BORDER-PRIMARY: #{$BLACK-5};
	--BORDER-SECONDARY: #{$BLACK-15};
	--GRADIENT: #{$GRADIENT2};

	// Component variables
	--TEXT-ACTIVE: black;
	--TEXT-HOVER: black;
	--TEXT-DEFAULT: #{$BLACK-45};
	--TEXT-DISABLED: #{$BLACK-35};
	--BG-ACTIVE: #{$BLACK-25};
	--BG-HOVER: #{$BLACK-15};
	--BG-DEFAULT: #{$BLACK-5};
	--BG-DISABLED: #{$BLACK-15};
	--ICON-DISABLED: #{$BLACK-25};
}
