@use '../../styles/modules.scss' as *;

.chipCloud {
	& {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 0.5rem;
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;
		align-items: center;
		justify-content: center;
	}

	& li .chip[id='1'] {
		@include interface-xs;
		opacity: 45%;
	}
	& li .chip[id='2'] {
		@include interface-s;
		opacity: 55%;
	}
	& li .chip[id='3'] {
		@include interface-r;
		opacity: 70%;
	}
	& li .chip[id='4'] {
		@include interface-l;
		opacity: 85%;
	}
	& li .chip[id='5'] {
		@include interface-xl;
		opacity: 100%;
	}
}
