@use '../../styles/modules.scss' as *;

.chip {
	& {
		border-radius: 99999px;
		background-color: get-color-value(white-ffffff-15);
		color: get-color-value(white-ffffff);
		text-transform: uppercase;
		user-select: none;
	}

	/*
		Sizes
	*/
	&.auto {
		@include screen-breakpoint(extra-large) {
			@include interface-xl;
			padding: 24px 24px;
		}
		@include screen-breakpoint(large) {
			@include interface-l;
			padding: 16px 16px;
		}
		@include screen-breakpoint(small) {
			@include interface-r;
			padding: 8px 16px;
		}
		@include screen-breakpoint(tablet) {
			@include interface-s;
			padding: 8px 16px;
		}
		@include screen-breakpoint(mobile) {
			@include interface-xs;
			padding: 8px 16px;
		}
	}
	&.extra-large {
		@include interface-xl;
		padding: 24px 24px;
	}
	&.large {
		@include interface-l;
		padding: 16px 16px;
	}
	&.regular {
		@include interface-r;
		padding: 8px 16px;
	}
	&.small {
		@include interface-s;
		padding: 8px 16px;
	}
	&.extra-small {
		@include interface-xs;
		padding: 8px 16px;
	}

	/*
		States
	*/
	&:hover {
		// CSS transition properties
		transition: background-color 150ms;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);

		background-color: get-color-value(white-ffffff-35);
	}
	&:active {
		background-color: rgb(0, 153, 255);
	}
	&:disabled {
		color: get-component-color-value(disabled);
		text-decoration: none;
		pointer-events: none;
	}
}
