@use '../../../../styles/modules/color/color.module.scss' as *;
@use '../../../../styles/modules/typography/typography.module.scss' as *;

.mobile-button {
	& {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		user-select: none;
		text-decoration: none;
		border-top: 1px solid transparent;
		border-left: 0;
		border-bottom: 1px solid transparent;
		border-right: 0;
		background-color: transparent;
	}

	.text {
		display: flex;
		color: var(--TEXT-DEFAULT);
		transition: color 150ms, padding 150ms;
		transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
	}

	/*
		Sizes
	*/
	&.extra-large {
		@include interface-xl;
		padding: 1.75rem 1.5rem;
	}
	&.large {
		@include interface-l;
		padding: 1.5rem 1.5rem;
	}
	&.regular {
		@include interface-r;
		padding: 1.5rem 1.5rem;
	}
	&.small {
		@include interface-s;
		padding: 1.5rem 1.5rem;
	}
	&.extra-small {
		@include interface-xs;
		padding: 1.5rem 1.5rem;
	}

	/*
		States
	*/
	@media (hover: hover) {
		&:hover {
			& {
				border-top: 1px solid var(--BORDER-PRIMARY);
				border-bottom: 1px solid var(--BORDER-SECONDARYb);
				border-left: 0;
				border-right: 0;
				background-color: var(--BG-HOVER);
				transition: background-color 150ms;
				transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
			}

			.text {
				padding-right: 1.5rem;
				color: var(--TEXT-HOVER);
				transition: color 150ms, padding-right 150ms;
				transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
			}
		}
	}
	&:active {
		& {
			background-color: var(--BG-ACTIVE);
			border-top: 1px solid var(--BORDER-PRIMARY);
			border-left: 0;
			border-bottom: 1px solid var(--BORDER-SECONDARY);
			border-right: 0;
			transition: background-color 150ms;
			transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
		}

		.text {
			padding-right: 1rem;
			color: var(--TEXT-ACTIVE);
			transition: color 150ms, padding-right 150ms;
			transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
		}
	}
}
